@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');



.main-title {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  width: 29.8em;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 72px;
  color: white;
  border-radius: 1100px;
  padding: 80px;
}

.main-back {
  background-image: url('../../assets/images/delivery.png');
  background-size: cover;
  height: 43em;
  width: 100%;
}

button.saucy {
  background-color: black;
  color: white;
}

button.saucy:hover {
  background-color: gold;
  color: black;
  font-weight: bold;

}

.bottom-cont {
  display: inline-block;
  width: 100%;
  margin-top: 10%;
  padding-left: 2em;
  padding-right: 2em;
}


.best:hover {
-webkit-transform: scale(1.1);
-moz-transform:scale(1.1);
transform: scale(1.1);
background-color: white;
}

.fast:hover {
-webkit-transform: scale(1.1);
-moz-transform:scale(1.1);
transform: scale(1.1);
background-color: white;

}

.minimum:hover {
-webkit-transform: scale(1.1);
-moz-transform:scale(1.1);
transform: scale(1.1);
background-color: white;

}

.best {
  display: inline-block;
  width: 33%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;

}

.fast {
  display: inline-block;
  width: 33%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;

}

.minimum {
  display: inline-block;
  width: 33%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;

}

section.deets {
  width: 100%;
  height: 38em;
}

hr {
  width: 300px;
}

.contact-us {
  width: 30em;
  height: 32em;
  border: 1px solid rebeccapurple;
  text-align: center;
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  margin-left: 33%;
  position: relative;
  top: 10%;
}

#full-name-input {
  color: black;
  font-weight: bold;
}

#email-input {
  color: black;
  font-weight: bold;
}

#subject {
  color: black;
  font-weight: bold;
}


.contact-back {
  background-image: url('../../assets/images/contactus.jpg');
  background-size: cover;
  width: 100%;
  height: 39em;
}

button.cont-btn {
  background-color: black;
  color: white;
}

button.cont-btn:hover {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
}

img.icons {
  width: 250px;
  height: 200px;
}

.deets {
  background-image: url('../../assets/images/white.png');
  background-size: cover;
}





/* media starts here */

@media only screen and (max-width: 500px) {
  .main-back {
    background-size: cover;
  }

  section.deets {
    height: 30%;
    padding-bottom: 5vh;
  }

  .best {
    width: 100%;
  }
  .fast {
    width: 100%;
  }
  .minimum {
    width: 100%;
  }

  .contact-us {
    width: 70%;
    margin-left: 4vh;
  }
}
