<app-home-page></app-home-page>
<br>
<div class="main-title">
  <h2> Drinks on Demand </h2>
  <p> Delivering the goods so the party goes on... </p>
  <br>

  <form (ngSubmit)="saveAddress()">
    <button [routerLink]="['/register']"> Get Saucy </button>
  </form>
</div>



<div class="bottom-cont">

  <div class="best">
    <img>
    <h3> <strong> Best Selection: </strong> Craft Beer and Spirits </h3>
  </div>

  <div class="fast">
    <img>
    <h3> Fast Delivery </h3>
  </div>

  <div class="minimum">
    <img>
    <h3> No Minimum! </h3>
  </div>

</div>
