<app-home-page></app-home-page>

<meta name="viewport" content="width=device-width, initial-scale=1.0" >


<section class="container-fluid">

  <div class="check-cont">
    <h4> Ready? </h4>
    <hr class="cnt">
  <button class="btn-out" (click)="checkOut()">Check Out</button>
  </div>

  <h2 class="title"> Liquor's </h2>
  <hr>

  <div class="hah">
    <ul>
      <h3 class="title"> Vodka's </h3>
      <li *ngFor='let oneBottle of vodkaArray' class="liq">
        <!-- <img src="{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
  <button class="add-to-cart" (click)="addToCart(oneBottle._id)">Add To Cart</button>
    </li>

      <h3 class="title"> Whiskey's </h3>
      <li *ngFor='let oneBottle of whiskeyArray' class="liq">
        <!-- <img src="{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBottle._id)">Add To Cart</button>
      </li>


      <h3 class="title"> Rum's </h3>
      <li *ngFor='let oneBottle of rumArray' class="liq" >
        <!-- <img src="assets/{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBottle._id)">Add To Cart</button>
      </li>


      <h3 class="title"> Tequila's </h3>
      <li *ngFor='let oneBottle of tequilaArray' class="liq" >
        <!-- <img src="{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBottle._id)">Add To Cart</button>
      </li>
    </ul>
  </div>
</section>



<section class="container2-fluid">
  <h2 class="title"> Beers </h2>
  <hr>

  <div class="hah">
    <ul>
      <h3 class="title"> IPA's </h3>
      <li *ngFor='let oneBeer of ipaArray' class="liq">
        <!-- <img src="{{oneBeer.image}}"> -->
        <p>           {{oneBeer.name}} </p>
        <p>           {{oneBeer.quantity}} Beers</p>
        <p> $         {{oneBeer.price}} </p>
        <p> Brewed in {{oneBeer.country}} </p>
        <button class="add-to-cart" (click)="addToCart(oneBeer._id)">Add To Cart</button></li>

      <h3 class="title"> Lager's </h3>
      <li *ngFor='let oneBeer of lagerArray' class="liq">
        <!-- <img src="{{oneBeer.image}}"> -->
        <p>           {{oneBeer.name}}</p>
        <p>           {{oneBeer.quantity}} Beers</p>
        <p> $         {{oneBeer.price}}</p>
        <p> Brewed in {{oneBeer.country}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBeer._id)">Add To Cart</button></li>
    </ul>
  </div>

</section>
