<app-home-page></app-home-page>


<div class="container-fluid">

  <button (click)="checkOut()">Check Out</button>

  <h2> Liquor's </h2>

  <div class="hah">
    <ul>
      <h3> Vodka's </h3>
      <li *ngFor='let oneBottle of vodkaArray' class="liq">
        <!-- <img src="{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
  <button class="add-to-cart" (click)="addToCart(oneBottle._id)">Add To Cart</button>
    </li>

      <h3> Whiskey's </h3>
      <li *ngFor='let oneBottle of whiskeyArray' class="liq">
        <!-- <img src="{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBottle)">Add To Cart</button>
      </li>


      <h3> Rum's </h3>
      <li *ngFor='let oneBottle of rumArray' class="liq" >
        <!-- <img src="assets/{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBottle)">Add To Cart</button>
      </li>


      <h3> Tequila's </h3>
      <li *ngFor='let oneBottle of tequilaArray' class="liq" >
        <!-- <img src="{{oneBottle.image}}"> -->
        <p>       {{oneBottle.name}}</p>
        <p>       {{oneBottle.size}}</p>
        <p> $     {{oneBottle.price}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBottle)">Add To Cart</button>
      </li>
    </ul>
  </div>
</div>



<div class="container2-fluid">
  <h2> Beers </h2>
  <div class="hah">
    <ul>
      <h3> IPA's </h3>
      <li *ngFor='let oneBeer of ipaArray' class="liq">
        <!-- <img src="{{oneBeer.image}}"> -->
        <p>           {{oneBeer.name}} </p>
        <p>           {{oneBeer.quantity}} Beers</p>
        <p> $         {{oneBeer.price}} </p>
        <p> Brewed in {{oneBeer.country}} </p>
        <button class="add-to-cart" (click)="addToCart(oneBeer)">Add To Cart</button></li>

      <h3> Lager's </h3>
      <li *ngFor='let oneBeer of lagerArray' class="liq">
        <!-- <img src="{{oneBeer.image}}"> -->
        <p>           {{oneBeer.name}}</p>
        <p>           {{oneBeer.quantity}} Beers</p>
        <p> $         {{oneBeer.price}}</p>
        <p> Brewed in {{oneBeer.country}}</p>
        <button class="add-to-cart" (click)="addToCart(oneBeer)">Add To Cart</button></li>
    </ul>
  </div>

</div>
