<app-home-page></app-home-page>
<meta name="viewport" content="width=device-width, initial-scale=1.0" >




<section class="background">

<div class="login-container">
  <br>
<h3> Log In </h3>

<p *ngIf="loginErrorMessage" class="error">
  {{ loginErrorMessage }}
</p>

<form (ngSubmit)="doLogin()">
  <label for="login-username-input"> Username : </label>
  <input class="input"  id="login-username-input" type="text" placeholder="@PeterGriffin"
      [(ngModel)]="loginUsername" name="usernameValue">
  <br>
  <br>

  <label for="login-pass-input"> Password : </label>
  <input class="input" id="login-pass-input" type="password" placeholder="*****"
      [(ngModel)]="loginPassword" name="loginPassword">
  <br>

  <button class="login"> Log In </button>
</form>
</div>

</section>
