section.cart-back {
  width: 100%;
  height: 47em;
  display: flex;
}

.cart-container {
  border: 1px solid black;
  height: 25em;
  width: 25%;
  text-align: center;
  position: relative;
  color: #B6B11A;
  background-color: rgba(0, 0, 0, 0.65);
  left: 4%;
  top: 18%;
}

.inst {
  height: 18em;
  width: 40%;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.8);
  color: #B6B11A;
  text-align: center;
  position: relative;
  left: 20%;
  top: 25%;
}

.cart-back {
  background-image: url('../../assets/images/brews.jpg');
  background-size: cover;

}

button.deliver {
  background-color: black;
  border: 1px solid #B6B11A
}

button.deliver:hover {
  background-color: #B6B11A;
  color: black;
}

p {
  color: #B6B11A;
}


li.cart {
  list-style: none;
}

hr {
  width: 100px;
}



@media only screen and (max-width: 500px) {

  .cart-container {
    width: 35%;
  }

  .inst {
    width: 50%;
    height: 45%;
    left: 7%;
  }
}
