<app-home-page></app-home-page>

<meta name="viewport" content="width=device-width, initial-scale=1.0" >


<body class="back-body" onload="myFunction()" style="margin:0;">

<div id="loader"></div>

<div id="myDiv" class="animate-bottom">
  <h2  style="text-align: center;">Order Complete!</h2>

  <p>Your Order is on it's way!</p>
  <p> Be on the lookout for our driver </p>
<hr>
  <h3 style="color:darkred;"> Please have your ID with you </h3>
<br>
<hr>
<br>
<br>

<br>

  <div class="map">
    <h2 class="order"> Order is in Route </h2>
    <p class="time"> Delivery Time: 5-15min </p>
    <img class="map-pic"src="../../assets/images/map.png">
  </div>


    <!-- <div class="instructions">
      <h2 style="margin-left:20px;"> Please make sure you... </h2>
        <ol class="ul">
          <li> Keep an eye on your phone for Delivery Notification!</li><br>
          <li> Driver has no more than $50 Dollars </li><br>
          <li> Make sure you have ID present </li><br>
          <li> Party Responsibly!</li><br>
        </ol>
      </div> -->

</div>

</body>
