.signup-container {
  border: 1px solid black;
  width: 32em;
  height: 38em;
  text-align: center;
  padding-top: 2em;
  left: 35em;
  top: 8em;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

input.input {
  color: black;
}

form {
  padding-top: 1em;
}

label {
  padding-top: 2em;
}

.background {
  background-image: url('../../assets/images/pour.jpg');
  background-size: cover;
  height: 48em;
}

button.signup {
  color: white;
  background-color: black;
  margin-bottom: 2em;
  position: relative;
  top: 1em;
}

button.signup:hover {
  background-color: white;
  color: black;

}


/* media starts here */

@media only screen and (max-width: 500px) {
  .background {
    position: static;
  }

  .signup-container {
    float: left;
  }



}
