.signup-container {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  text-align: center;
  position: relative;
  left: 200px;
  padding-top: 20px;
  top: 20px;
}

form {
  padding-top: 10px;
}

label {
  padding-top: 30px;
}
